Repository Team3256/FRC_Programming_2025, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci, component: drivers, component: arm, component: climb, component: coralground, component: elevator, component: endeffector, component: swerve, component: vision, component: superstructure, utils: autoaim, type: utils

.github/labeler.yml:

'type: ci':
  - changed-files:
      - any-glob-to-any-file: .github/*
'component: drivers':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/drivers/**
'component: arm':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/arm/**
'component: climb':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/climb/**
'component: coralground':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/coralground/**
'component: elevator':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/elevator/**
'component: endeffector':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/endeffector/**
'component: swerve':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/swerve/**
'component: vision':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/vision/**
'component: superstructure':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/subsystems/Superstructure.java
'utils: autoaim':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/utils/autoaim/**
'type: utils':
  - changed-files:
      - any-glob-to-any-file: src/main/java/frc/robot/utils/**

today
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
Labels: component: arm, component: elevator, component: superstructure

fix superstructure arm triggering too early
  src/main/java/frc/robot/subsystems/Superstructure.java
Labels: component: superstructure

make prev state unique
  src/main/java/frc/robot/subsystems/Superstructure.java
Labels: component: superstructure

fix arm reached position triggering too early :(, add one more test for continuous wrap cuz im paranoid, messed up the elevator sim constants since it wasn't going far enough
  src/main/java/frc/robot/sim/SimMechs.java
  src/main/java/frc/robot/subsystems/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/test/java/ContinuousWrapTest.java
Labels: component: arm, component: elevator, component: superstructure

add logging for safety triggers + reqPos
  src/main/java/frc/robot/subsystems/Superstructure.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
Labels: component: arm, component: elevator, component: superstructure

upgrade wpilib to 2025.3.1
  build.gradle
Labels: none

adv kit update
  vendordeps/AdvantageKit.json
Labels: none
